/* app css stylesheet */

body {
  font-family: 'Mallanna', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-rendering: optimizeLegibility;
}

.navPadding {
  padding-top: 70px;
}

.pool_play_table {
  width: 70%;
  margin: 0 auto 40px auto;
}

.tournament_name {
  margin-bottom: -10px;
}

.tournament_date {
  margin-bottom: 60px;
}

.pool_play_td {
  width: 75%;
  min-width: 190px;
  margin: 0 auto;
}

.pool_play_team_name {
  float: left;
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pool_play_rank {
  float: right;
}

.pool_play_record,
.pool_play_results {
  float: right;
  width: 20%;
  text-align: right;
}

.pool_play_results {
  opacity: 0;
}

.activeColor {
  color: rgb(251, 51, 12) !important;
}

.pool_play_games {
  width: 80%;
  margin: 0 auto 40px auto;
}

.pool_play_game {
  position: relative;
  margin: 10px;
}

.pool_play_team {
  padding: 0 5px;
  cursor: pointer;
  width: 45%;
}

.pool_play_team.left {
  border-radius: 50% 5px 5px 50%;
}

.pool_play_team.right {
  border-radius: 5px 50% 50% 5px;
}

.pool_play_team:hover,
.pool_play_team.selected {
  color: white;
  background: rgb(255, 138, 0);
  /*background: rgb(255, 211, 0);*/
}

.pool_play_team.selected {
  cursor: default;
}

.championship_bracket {
  margin-bottom: 40px;
}

.championship_bracket > div[class^="col-"] {
  height: 200px;
}

.bracket_game {
  margin: 60px;
}

.bracket_team {
  background: #F2F2F2;
  padding: 0px 3px;
  margin: 5px;
  font-size: 24px;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bracket_team:hover,
.bracket_team.selected {
  background: #FFD701;
}

.bracket_team.selected {
  cursor: default;
}

.bracket_game_wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}