<h1 class="text-center tournament_name">{{tournyInfo.name}} <small>({{tournyInfo.division}})</small></h1>
<h4 class="text-center tournament_date"><small ng-bind-html="escapeHTML(tournyInfo.date)"></small></h4>
<h2 class="text-center">Pool Play</h2>
<div class="row pool_play_table">
    <div class="col-xs-12 col-sm-{{colWidth}}" ng-repeat="pool in tournyInfo.poolFormat">
        <table id="{{tournyInfo.poolNames[$index]}}" class="table">
            <thead class="text-center">
                <th class="text-center">Pool {{tournyInfo.poolNames[$index]}}</th>
            </thead>
            <tr ng-repeat="team in pool | orderBy: getWinPercentage:true">
                <td>
                    <div class="pool_play_td dropdown" ng-mouseover="showPoolPlayGames(team)" ng-mouseleave="hidePoolPlayGames(team)">
                        <span class="pool_play_team_name" aria-haspopup="true" aria-expanded="true">
                            <span class="dropdown-toggle">
                                <span>{{tournyInfo.teams[team-1]}}</span>
                                <span class="caret"></span>
                            </span>
                            <span class="pool_play_rank">({{team}})</span>
                        </span>
                        <span class="pool_play_results"><span class="activeColor">0 - 0</span></span>
                        <span class="pool_play_record">{{tournyInfo.poolPlayRecords[team].w}} - {{tournyInfo.poolPlayRecords[team].l}}</span>
                        <ul class="dropdown-menu" ng-show="checkPoolPlayVisibility(team)">
                            <li ng-repeat="competitor in tournyInfo.poolGames[team]">
                                <span class="pull-left">&nbsp;vs.&nbsp;{{tournyInfo.teams[competitor.id-1]}}</span>
                                <span class="pull-right"><span class="win" ng-click="toggleNewPPGame(team, $index, false)" ng-class="{'selected' : competitor.selected==false}">W</span>-<span class="loss" ng-click="toggleNewPPGame(team, $index, true)" ng-class="{'selected' : competitor.selected}">L</span></span>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<h2 class="text-center">Championship Bracket</h2>
<div class="championship_bracket row">
    <div class="col-sm-{{brackWidth}}" ng-repeat="tier in tournyInfo.bracketFormat" ng-init="tierIdx = $index">
        <div class="bracket_game_wrapper">
            <div class="bracket_game" ng-repeat="(key, game) in tier">
                <div class="bracket_team text-center" ng-repeat="team in game.teams track by $index" ng-click="toggleBracketGame(tierIdx, key, team.id, $index)" ng-class="{'selected' : team.selected}">
                    {{tournyInfo.teams[team.id-1]}}
                </div>
            </div>
        </div>
    </div>
</div>
